#table_news {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    min-width: 800px;
    min-height: 600px;
}

#table_news th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

#table_news td,
#table_news th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

#table_news tfoot td {
    text-align: center;
}

#table_news tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_news .item_row:hover {
    background-color: #ddd;
}

.textlink {
    color: green;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

#table_news td .gutter>button,
span {
    margin: 10px;
    padding: 10px;
}

.data_loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.paginator_container {
    flex: 3;
}

.refresh_container {
    flex: 1;
}